<ion-view view-title="call List">
    <ion-content class="padding">
        <ion-list ng-repeat="call in data">
            <ion-item>
                <div ng-click="toggleBtnsBar(hasBtnsBar)">
                    <span>{{call.cachedName}}</span>
                    <br />
                    <span>{{call.number}}</span>
                    <br />
                    <!--<span>{{callTypeDisplay(call.type)}}</span>
                    <br />-->
                    <span>{{call.date | date}}</span>
                    <br />
                    <span>{{call.date | date : 'H:mm:ss'}}</span>
                    <br />
                    <!--<span>Duration: {{call.duration}} seconds</span>
                    <br />
                    <span>Acknowledged: {{(call.new == 1 ? 'yes' : 'no')}}</span>-->
                </div>
                <br />
                <div ng-if="hasBtnsBar" >
                    <a ui-sref="tab.inCall({userName: call.cachedName, number: call.number})">Call</a>
                    <a ui-sref="#">Details</a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
